@import "_reset-src.scss";
@import "_selectric.scss";

/* ==========================================================================
   ========================================================================== */

$baseTextSize: 16px;
$backgroundColor: #111;
$textColor: #fff;
$lightTextColor: #c2c2c2;

$newsItemHeight: 400px;

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    background-color: $backgroundColor;
    color: $textColor;
    font-size: $baseTextSize;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

body {
    width: 100%;
    height: 100vh;
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    align-items: center;
    // flex: 1 0 auto;

    @media(min-width: 60em) {
        align-items: flex-start;
    }

}

a:link,
a:visited,
a:hover,
a:active {
    color: $textColor;
}

.header {
    flex: 1 0 auto;
    padding: 5vw;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 80%;
    aside {
        padding: .5rem;
        margin: .5rem;
        height: 60vw;
        max-height: 300px;
        width: 60vw;
        max-width: 300px;
    }
    .logo {
        background-size: cover;
        background-image: url("/img/nyt-logo.svg");
    }
    nav {
        padding: 5px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        label {
            padding: 0 0 1rem 0;
        }
        select, .selectric-wrapper{
            width: 100%;
        }
    }
    @media(min-width: 35em) {
        flex-direction: row;
        margin-left: -25vw;
        font-size: 100%;
        aside {
            height: 25vw;
            width: 25vw;
        }
        nav {
            align-items: flex-start;
        }
    }
    @media(min-width: 60em) {
        justify-content: left;
        margin-left: 0;
    }
    .dataLoaded & {
        @media(min-width: 35em) {
            padding: 2vh;
            margin-left: calc(-10vh -10vh - 2vh*2);
            aside {
                height: 10vh;
                width: 10vh;
                margin-right: 10vh;
            }
        }
        @media(min-width: 60em) {
            margin-left: 0;
        }
    }

}

.news {
    width: 100vw;
    height: $newsItemHeight * 3;
    flex: 1 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    font-size: 100%;
    .news-item {
        width: 100%;
        height: $newsItemHeight;
        box-sizing: border-box;
        @media(min-width: 35em) {
            width: 50%;
        }
        @media(min-width: 45em) {
            width: 33.3333%;
        }
        @media(min-width: 60em) {
            width: 25%;
        }
        figure {
            width: 100%;
            height: 100%;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
            figcaption {
                background: rgba(0, 0, 0, 0.5);
                line-height: 1.4;
                padding: 10px;

                position: absolute;
                left: 0;
                bottom: 0;

                z-index: 2;
                box-sizing: border-box;

                opacity: 0;
                transition: opacity .3s ease-in-out;
            }
            &:hover figcaption {
                opacity: 1;
            }
        }
    }
}
#spin {
    padding: 2rem 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        height: 60px;
        width: 60px;
    }
}

.footer {
    flex-shrink: 0;
    padding: 2rem;
    display: inline-flex;
    justify-content: center;
    color: $lightTextColor;
    font-size: 60%;
    font-weight: lighter;
    @media(min-width: 35em) {
        font-size: 100%;
    }
}

/* ==========================================================================
   ==========================================================================
   ========================================================================== */


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */
 .hide {
    display: none;
}

.hidden {
    display: none !important;
}

.upercase {
    text-transform: uppercase;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (min-width: 60em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
